* {
    box-sizing: border-box;
}

html {
    justify-content: center;
}

body {
    width: 320px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2C2C2C;
    color: #ffffff;
    font-family: 'Kavoon', sans-serif;
}

a {
    color: white;    
}

p {
    margin: 16px 0px;
}

.flex {
    display: flex;
}

.color-dark-grey {
    color: #2C2C2C;
}

.color-light-grey {
    color: #929292;
}

.color-paper-green {
    color: #87D147;
}

.color-rock-blue {
    color: #70D6F9;
}

.color-scissors-red {
    color: #FC657E;
}

.color-yellow {
    color: #F5C84C;
}

#overlay {
    position: absolute;
    display: none; 
    width: 100%;
    height: 100%;
    padding: 24px, 16px;
    background-color: #000;
    z-index: 1; 
}

#round-recap {
    display: none; 
    flex: 1;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
}

#header {
    height: 120px;
    align-items: center;
    gap: 16px;
    font-size: 24px;
}

#content {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#round-area {
    height: 300px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 16px;
    border: 4px solid #929292;
    text-align: center;
}

#log-area {
    flex: 1;
    flex-direction: column;
}

#log-area > #empty-state {
    align-items: center;
    justify-content: center;
}

#log-area > #log {
    display: none;
    align-items: center;
    justify-content: center;
}

#round-number {
    font-size: 20px;
}

#footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signature {
    height: 40px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

#signature > a {
    /* text-decoration: none; */
    font-weight: bold;
}

#flaticon-credit {
    height: 24px;
    align-items: center;
    gap: 2px;
    font-size: 8px;
}