* {
    box-sizing: border-box; /* Figma-friendly sizing */
}

html, body, #content {
    height: 100%;
}

html {
    font-size: 62.5%; /* 10px baseline rem */
}

body {
    width: 100%;
    margin: 0rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2C2C2C;
    color: #ffffff;
    font-family: 'Inria Sans';
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button {
    display: inline-flex;
    align-items: center;
    height: 48px;
    width: 180px;
    padding: 0rem 1.6rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    gap: .8rem;
    font-size: 2.0rem;
    font-family: Kavoon, Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

p {
    margin: 0.2rem 0rem ;
}

.text-xs {
    font-size: 0.8rem;
}

.text-s {
    font-size: 1.2rem; 
}

.text-m {
    font-size: 1.6rem;
}

.text-l {
    font-size: 2.0rem;
}

.text-xl {
    font-size: 2.4rem;
}

.button-icon {
    width: 40px;
    height: auto;
}

.flex {
    display: flex;
}

.color-darkest-grey {
    color: #1E1E1E;
}

.color-dark-grey {
    color: #2C2C2C;
}

.color-light-grey {
    color: #595959;
}

.color-lightest-grey {
    color: #929292;
}

.color-white {
    color: #FFF;
}

.color-paper-green {
    color: #87D147;
}

.color-rock-blue {
    color: #70D6F9;
}

.color-scissors-red {
    color: #FC657E;
}

.color-yellow {
    color: #F5C84C;
}

#rock {
    background-color: #70D6F9;
}

#paper {
    background-color: #87D147;
}

#scissors {
    background-color: #FC657E;
}

#header {
    align-self: center;
    max-width: 300px;
    height: 120px;
    align-items: center;
    gap: 1.6rem;
    font-size: 2.4rem;
    font-family: Kavoon, Verdana, Geneva, Tahoma, sans-serif;
}

#content {
    align-self: center;
    width: 300px;
    flex-direction: column;
}

#round-area {
    height: 300px;
    width: 100%;
    flex-direction: column;
    border-radius: 1.6rem;
    background: #1E1E1E;
    border: .4rem solid #1E1E1E;
}

#round-number {
    flex: 0 0 auto;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#container {
    position: relative;
    flex-direction: column;
    flex: 1 0 auto;
    border-radius: 0rem 0rem 1.2rem 1.2rem;
}

#overlay-base {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
}

#round-recap {
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

#round-result {
    flex: auto;
    height: 56px;
    align-items: center;
    font-weight: bold;
}

#round-choices {
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    padding: 0rem 1.6rem;
    align-items: center;
    background: #2C2C2C;
}

#play-buttons {
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    background: #595959;
    border-radius: inherit;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.choice-div {
    flex-direction: column;
    width: 80px;
    gap: 1.2rem;
    align-items: center;
}

.choice-name {
    font-family: Kavoon, Verdana, Geneva, Tahoma, sans-serif;
}

#scoreboard-area {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0rem;
}

.scoreboard {
    width: 80px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background: #1E1E1E;
    font-weight: bold;
    border-radius: 1.6rem;
}

#log-area {
    flex-direction: column;
    padding: 2.4rem;
}

#log-area > #empty-state {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#log-area > #log {
    display: none;
    align-items: center;
    justify-content: center;
}

#footer {
    flex-direction: row;
    justify-content: center;
    height: 64px;
    background-color: #1E1E1E;
    border-top: 2px solid rgba(255,255,255,0.25);
}

#footer-content {
    flex: 1 0 auto;
    max-width: 320px;
    justify-content: space-between;
}

#signature, #flaticon-credit {
    align-items: center;
    gap: .4rem;
}